@media screen and (max-width:350px){
    footer aside img{
        visibility: collapse;
    }
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #a6cab2;
    padding-top: 70px;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
nav{
    background-color: #151640c7;
    height:70px;
}

nav a{
    display: inline-block;
    background-color: #2eaacead;
    margin: 15px 0% 15px 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid cyan;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.5s background-color;
}

#active{
    background-color: #083D77;
}
nav a:hover{
    background-color: #151640c7;
    color: white;
    box-shadow: 5px 3px 10px cyan;
}
main{
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
}
.carousel{
    height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.carousel-track{
    height: 100%;
    width: 100%;
    position: relative;
}
.button{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    background-color: #8c979e;
}
.left{
    left: 1vw;
}
.right{
    right: 1vw;
}
.carousel-track figure{
    height: calc(100% - 15px);
    width: 80%;
    padding: 0;
    margin: 0 10%;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
}
.carousel-track figure img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transition:all 1s  ease-in-out;
}
.carousel-nav{
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-nav-button{
    margin: 0 5px;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    border: none;
    background-color: rgba(0,0,0,0.3);
}
.active-nav{
    background-color: rgba(0,0,0,0.8);
}
button{
    cursor: pointer;
    outline: none;
}
.right{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.left{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.right:active{
    border-bottom: none;
    border-right: none;
}
.left:active{
    border-bottom: none;
    border-left: none;
}
.button:hover{
    background-color: #585f63;
}
.text{
    height: 20%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text span{
    display: none;
    font-size: 2em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    padding: 2px 10px;
    border: 2px ridge black;
}
.text .active-span{
    display: inline;
}
footer{
    /*width: 100%;*/
    background-color: #4E5283;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    line-height: 1.1em;
    margin-top: 20px;
}
footer section{
    margin-left: 10%;
}
footer section p{
    padding: 10px 15px;
}
footer aside{
    margin-right: 10%;
}
 footer i{
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: 0.4s font-size;
 }
#icon_list{
    display: flex;
    justify-content: space-between;
}
footer details{
    padding: 10px 15px 10px 0px;
}
footer img{
    height: 50%;
    float: right;
    border-radius: 5px;
}
footer a{
    color: black;
    text-decoration: none;
    line-height: 1.2em;
}
footer section p{
    margin: 0;
    padding-left: 0;
}
footer i:hover{
    font-size: 1.7em;
    opacity: 0.8;
}
@media screen and (min-width:900px){
    nav a{
        width: 10%;
    }
    .button{
        height: 40px;
        width: 40px;
        font-size: 30px;
    }
    footer aside img{
        height: 100%;
    }
}