body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 1.3rem;
}
a{
    cursor: pointer;
}
li{
    padding: 25px;
}
strong{
    text-decoration: underline;
}
