@media screen and (max-width:350px){
    footer aside img{
        visibility: collapse;
    }
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #a6cab2;
    padding-top: 70px;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 0;
}
nav{
    background-color: #151640c7;
    height:70px;
}

nav a{
    display: inline-block;
    background-color: #2eaacead;
    margin: 15px 0% 15px 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid cyan;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.5s background-color;
}

#active{
    background-color: #083D77;
}
nav a:hover{
    background-color: #151640c7;
    color: white;
    box-shadow: 5px 3px 10px cyan;
}

main{
    position: relative;
    /*margin-top: 70px;*/
}
section:first{
    perspective: 5000px;
}
#first_img{
    width: 100%;
    transform-style: preserve-3d;
    transition: 10ms transform;
}

.img::after{
    display: inline-block;
    content: "";
    transform: translateY(15px);
    height: 20px;
    width: 80%;
    margin: 0px 10%;
    background-color: grey;
    border-radius: 50%;
    filter: blur(5px);
}

h2{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
    font-variant: small-caps;
}

.between_section{
    width: 80vw;
    margin: 10px auto;
    padding-top: 10px;
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.5em;
    word-spacing: 0.2em;
    position: relative;
}

.border{
    display: inline-block;
    position: absolute;
}

.border-left{
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to bottom,#F44336,rgba(0,0,0,0));
    left: -8px;
    top: 20px;
}

.border-right{
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to top,#F44336,rgba(0,0,0,0));
    right: -8px;
    top: 20px;
}

.border-top{
    width: 80vw;
    height: 3px;
    background-image: linear-gradient(to right,#F44336,rgba(0,0,0,0));
    left: -8px;
    top: 20px;
}

.border-bottom{
    width: 80vw;
    height: 3px;
    background-image: linear-gradient(to left,#F44336,rgba(0,0,0,0));
    right: -8px;
    top: calc(100% + 20px);
}

.between_section> div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section img{
    width: 80%;
}

section p{
    padding: 10px 15px;
}

.between_section{
    margin-top: 50px;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
    font-family: sans-serif;
}

#table{
    /*display: block;*/
    background-image: linear-gradient(to bottom,#3066BE,#673AB7);
    color: white;
    text-shadow:  1px 1px 5px #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #3066BE;
    text-align: center;
    /*width: */
}
#table_container{
    width: 100%;
    overflow: auto;
}
table{
    font-size: 0.6em;
}
td,th{
    padding: 10px;
    background-color: #ff572294;
    text-align: center;
}
tr{
    opacity: 0.8;
}
tr:nth-child(odd){
    opacity: 0.9;
}
thead tr{
    opacity: 1;
    background-color: #f44336;
}
thead tr th{
    border-bottom: 3px solid red;
    border-radius: 5px 5px 0 0;
}
tr:hover{
    opacity: 1;
}
footer{
    /*width: 100%;*/
    background-color: #4E5283;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    line-height: 1.1em;
}
footer section{
    margin-left: 10%;
}
footer aside{
    margin-right: 10%;
}
 footer i{
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: 0.4s font-size;
 }
#icon_list{
    display: flex;
    justify-content: space-between;
}
footer details{
    padding: 10px 15px 10px 0px;
}
footer img{
    height: 50%;
    float: right;
    border-radius: 5px;
}
footer a{
    color: black;
    text-decoration: none;
    line-height: 1.2em;
}
footer section p{
    margin: 0;
    padding-left: 0;
}
footer i:hover{
    font-size: 1.7em;
    opacity: 0.8;
}

@media screen and (min-width:900px){
    nav a{
        width: 10%;
    }
    #first_img{
        display: block;
        width: 70%;
        margin: 0px auto;
    }
    .img::after{
        transform: translateY(25px);
        width: 60%;
        margin: 0px 20%;
    }
    .between_section > div{
        flex-direction: row;
        align-items: flex-start;
    }
    .between_section:nth-child(odd)>div{
    flex-direction: row-reverse;
    }
    section img{
        width: 30%;
        margin: 20px 20px;
        flex-shrink: 0;
    }
    #table{
        width: 50%;
        margin: 20px auto;
        font-size: 1.3rem;
    }
    #table_div{
        display: block;
    }
    table{
        font-size: 1rem;
        width: 80%;
        margin:30px auto;
    }
    footer aside img{
        height: 100%;
    }
}

